* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100%;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #0984e3;
    
    align-items: end;
    background-color: #74b9ff;

}

#header>h1 {
    
    height: 100%;
    justify-content: center;
    font-size: 70px;
    color: #dfe6e9;
}

#header>nav {
    display: flex;
    width: calc(100%  / 3);
    align-items: end;
    height: 50%;

}

nav>a {
    flex-grow: 3;
    text-align: center;
    text-decoration: none;

}
#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}